<%= link_to(item, class: "item-container") do %>
<div class="card">
  <%= image_tag("cat.jpg", class: "card-img-top") %>
  <div class="card-body px-2 py-3">
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text"><%= item.memo %></p>

  </div>
</div>
<% end %>
