<div id="items-index" class="container my-5">
  <div class="row">
    <div class="col-12">

      <form class="text-center">
        <div class="form-group">
          <input type="search" id="items-search-box" class="form-control mx-auto" placeholder="検索..." aria-label="検索...">
        </div>
        <div class="mt-4">
          <%= link_to "さがす", "#", class: "sm-custom-btn" %>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5">
    <% @items.each do |item| %>
    <div class="col-sm-6 col-md-4 mb-5">
      <%= render("item", item: item) %>
    </div>
    <% end %>
  </div>

</div>
