<div class="container my-5 custom-table">
  <h2>出品管理</h2>

  <div class="table-responsive">
    <table class="table text-nowrap mb-5">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Status</th>
          <th scope="col">Price</th>
          <th scope="col">作成日</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      <% @items.includes(:images).each do |item| %>
        <%= render("items/partial/manage_item", item: item) %>
      <% end %>
      </tbody>
    </table>
    <%= render "partial/pagination", models: @items %>
  </div>

</div>
