@mixin custom-button($padding:7px 43px, $font-size:18px) {
  display: inline-block;
  font-size: $font-size;
  padding: $padding;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: $background-image;
  transition: .4s;
  
  &:hover {
    color: #FFF;
    text-decoration: none;
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  }
}

.sm-custom-btn {
  @include custom-button(7px 43px, 18px);
}

.bg-custom-btn {
  @include custom-button(25px 73px, 30px);
}

.normal-color-text {
  color: $normal-text-color;
}

.accent-color-text {
  color: $accent-color;
}

.custom-form {
  h2 {
    color: $normal-text-color;
    margin-bottom: 36px;
  }

  label {
    color: $accent-color;
  }

  input {
    border-radius: 15px;
    max-width: 400px;
    height: 38px;
    border: 2px solid $main-color;
  }

  textarea {
    border-radius: 15px;
    max-width: 400px;
    height: 113px;
    border: 2px solid $main-color;
  }

  em {
    color: $main-color;
    margin-left: 10px;
  }

  .actions input {
    @include custom-button(0px, 18px);
    height: 43px;
    width: 135px;
    margin: 21px 0;
  }
}

.alert {
  padding-top: 18px;
  padding-bottom: 0;
  margin-bottom: 36px;

  ul {
    list-style: none;
    padding-left: 3px;
  }
}
