#items-index {
  #items-search-box {
    input {
      height: 50px;
    }

    input#search {
      margin-left: auto;
      border-radius: 22px 0 0 22px;
      border: 3px solid $main-color;
      max-width: 500px;
    }

    span {
      margin-right: auto;

      input {
        border-radius: 0 22px 22px 0;
        background-color: $main-color;
      }
    }
  }

  .actions {
    input {
      border: none;
    }
  }

  .search-result {
    color: $normal-text-color;

    p {
      margin-left: 4px;

      span.result-count {
        color: $accent-color;
        margin-right: 5px;
        font-size: 24px;
      }
    }
  }

  .sort-options {
    form {
      margin-top: 17px;
      max-width: 135px;
    }
  }

  .item-container {
    color: $normal-text-color;
    text-decoration: none;

    .card {
      background-color: $background-color;

      .thumb-img {
        position: relative;
        overflow: hidden;
        padding-bottom: 100%;

        img {
          position: absolute;
        }
      }

      .card-title {
        margin: 5px 3px;
      }

      .card-text {
        margin-bottom: 11px;
      }
    }
  }
}

#items-show {
  .item-title {
    h2 {
      margin-left: 4px;
    }

    span {
      position: relative;
      top: 2px;
      color: $accent-color;
      border: 2px solid $main-color;
      padding: 6px;
      font-size: 23px;
      margin-right: 18px;
    }
  }

  .text-right {
    .sm-custom-btn {
      margin-top: 1px;
    }
  }
}
