.navbar-light {
  background-image: $background-image;

  a.title {
    img.logo {
      width: 200px;
    }
  }

  a {
    color: $base-color;
    text-decoration: none;
  }

  button.navbar-toggler {
    border-color: rgba(0,0,0,0) !important;
  }
}
