.navbar-light {
  background-image: $background-image;

  .title {
    font-size: 20px;
  }

  a {
    color: $base-color;
    text-decoration: none;
  }

  button.navbar-toggler {
    border-color: rgba(0,0,0,0) !important;
  }
}
