#rooms-show {
  .room-info {
    span.badge {
      position: relative;
      bottom: 2px;
    }

    span.badge-info{
      margin-left: 8px;
    }

    a {
      color: $main-color;
    }
  }

  .messages-container {
    max-width: 700px;

    .card {
      margin-bottom: 13px;

      .card-body {
        padding: 9px;

        .card-title {
          color: $accent-color;
        }
      }
    }
  }

  textarea {
    max-width: 700px;
  }

  input {
    margin: 11px 0;
  }
}
